body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/* Specify in CSS */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

.wrapper {
    display: flex;
    flex-direction: row;

    background: #f0f0f0;
    transition: filter 0.3s;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1px;
    height: 100vh;
    width: 80vw;
    box-sizing: border-box;
    padding: 10px;
}

@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
    }

    .calendar {
        width: 100vw;
    }
}

.week {
    display: contents;
}

.week.days .day {
    background-color: #2e2e2e;
    color: white;
}

.day {
    --project-image: none; /* Default: no background image */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
}

.day::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--project-image);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: 0;
}

.day::after {
    content: attr(data-date);
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.75rem;
    color: #333;
    z-index: 1;
}

.day > .content {
    position: relative;
    z-index: 2;
}

.days .day {
    background: none;
    font-weight: bold;
    filter: none;
}

.day[data-project="fulterer"] {
    color: white; /* Keep text color white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Black shadow for better readability */
}

.past {
    /* Combine sepia, contrast, and brightness for a more dramatic effect */
    filter: sepia(80%) contrast(90%) brightness(90%);
}

.week.past > .day {
    filter: sepia(80%) contrast(90%) brightness(90%);
}

.current {
    border: 2px solid red; /* Sets the border color to red and makes it 2px thick */
    box-shadow: 0 0 8px red; /* Optional: Adds a subtle glow effect to emphasize the highlight */
}

.hidden {
    display: none;
}

.day__card {
    z-index: 3;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}

.fulterer-project {
    color:#EEE01B; /* White font color for fulterer project */
}

.rapitrack-project {
    color: #000; /* Black font color for rapitrack project (or maintain default) */
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.icon {
    cursor: pointer;
    font-size: 24px;
}

.image-modal {
    display: none;
    position: fixed; /* Use fixed to cover the entire page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: transform 0.3s;
}

.image-modal img {
    height: 80vh; /* Adjust as per your requirement */
    width: auto;
    border-radius: 8px; /* Optional: for rounded corners */
}

.icon-wrapper:hover .image-modal {
    display: block;
}

.icon-wrapper:hover ~ .content {
    filter: blur(5px);
}