*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #eee;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
    margin: 3rem;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #6D5D4B;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3rem 3rem;
    border-top: #6D5D4B 1px solid;
}

.image--meme {
    width: 300px;
    height: 300px;
}
