:root {
    --jeopardy-blue: #060CE9;
    --font-color-main: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 300px;
    width: 200px;

    overflow: hidden;
    color: var(--font-color-main);
    text-align: center;
    font-weight: 200;
    transition: all 2s;
    perspective: 1000px;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: var(--jeopardy-blue);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    transition: transform .6s;
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-front {
    transform: rotateY(-180deg);
}
.card:hover .card-back {
    transform: rotateY(0deg);
}